body,html{
    margin:0;
    padding:0;
    font-family:sans-serif,'Times New Roman'Arial;
    font-weight:400;
    font-size:25px;
}

/* /////////////////////////////////////////// */
                /* NAVBAR */
/* //////////////////////////////////////////// */
.main-nav{
    direction:rtl;
    margin:0;
    background-color:#2a3;
}
.main-nav li{
    padding: 30px;
    display:inline-block;
}
.main-nav li:hover:not(.main-logo){
    background-color:#273;
}
.main-nav li a{
    text-decoration:none;
    color :#000;
}
li.main-logo{
    float: left;
    margin-left:80px;
    padding:10px 0;
}
.main-logo img{
    width:100px;
    height:auto;
    overflow:hidden;
}
.main-logo img.user-profile{
    width: 65px;
    background-color: #273;
    border-radius: 50%;
    border:groove 5px #273;
}
/* /////////////////////////////////////////// */
                /* 'public' */
/* //////////////////////////////////////////// */
.flex-container{  
    width: 100%;
    display: flex;
   
}
.flex-container div{
    width: 50%;
    padding:15px;
}
.btn{
    width:100px;
    padding:10px;
    font-size: 15px;
    font-weight:400;
    color: #fff;
    border-radius: 10%;
    background-color:#04f;
    border: none;
}
#nav-container{
    visibility: hidden;
    display: flex;
    flex-direction: column;
    width: 160px;
    background-color:#2a3;
    direction: rtl;
    left: 35px;
    position: absolute;
    /* text-align:center */
    
}
#nav-container div{
    border:solid 1px #000;
    padding:5px 10px;
}
#nav-container a{
    color: #000;
    
    text-decoration:none;
}
#nav-container i{
    margin-left: 10px;
}
/* /////////////////////////////////////////// */
                /* 'first section' */
/* //////////////////////////////////////////// */

#first-body-container{
    width: 100%;
    height: 300px;
    margin-bottom:100px;
}
#first-body-container .left{
    text-align: center;
}
#first-body-container .left img{
    width:80%;
}
#first-body-container .right{
    direction:rtl;
}
#first-body-container .right h1,p{
    padding-top:25px;
}
/* /////////////////////////////////////////// */
                /* second section */
/* //////////////////////////////////////////// */
#second-body-container{
    margin:0;
}
#second-body-container .container{
    background-image: url(../jpg/bg-main-parallex.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    height: 400px;
    font-weight: 700;
    background-attachment: fixed;
    text-align: center;
    color: #fff;;
}
.img-start{
    background-color: #000;
    height: 400px;
    opacity: 0.7;
}
.img-start p,bottom{
    padding-top: 10%;
}
.btn-start{
    width:200px;
    padding:15px;
    font-size:25px;
}
/* /////////////////////////////////////////// */
                /* Footer*/
/* //////////////////////////////////////////// */
footer{
    margin:0;
    background-color: lightblue;
    text-align: center;
}
footer .left{
    padding-top: 3%;
}
footer .right{
    direction: rtl;
    /* list-style-type: none;   */
}

footer ul li{
 display: inline-block;
 margin-left: 30px;
 position: relative;
 cursor: pointer;
 
}
/* /////////////////////////////////////////// */
                /* Popup*/
/* //////////////////////////////////////////// */
.popuptext{
  visibility: hidden;
  width: 200px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -100px;
}
.popuptext::after{
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
.show{visibility: visible;}


/* /////////////////////////////////////////// */
            /* single and group sending*/
/* //////////////////////////////////////////// */
#single-sending,
#group-sending{
    text-align: center;
    
}

#single-sending .right,
#group-sending .right{
    padding-top: 90px;
}
#single-group{
    margin-bottom:40px;
}
#group-sending{
    background-color:#ddd;
}

